@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-sidenav {
    width: 230px;
    padding:15px;
}
.mat-drawer { 
    background-color:whitesmoke;
    color:black,
    
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

